* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    transform: translateY(100px);
}

.header {
    height: 70px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #F0F0F0;
    border: 1px black solid;
}

.fileSideBar {
    /* position: absolute; */
    padding: 30px;
    left: 20px;
    height: 500px;
    width: 25%;
    vertical-align: bottom;
    background-color: #F0F0F0;
    display: flex;


}

.file-opt {
    height: 120px;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 50px;


}

.download-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.download-btn button {
    background: #05537a;
    border-radius: 2px;
}

.download-btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.download-btn a:hover {
    color: black;
}

#files {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;

}

.file-title {
    max-height: inherit;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
}

.clear-btn {
    display: flex;
    font-size: 18px;
    font-weight: bold;

}


#clear-btn {
    height: 30px;
    width: 80px;
    font-weight: 700;
    font-size: 18px;
}

.py-btn {
    height: 30px;
    width: 80px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}

.file-container {
    position: relative;
    width: 60%;
    height: 500px;
    display: flex;
    background-color: rgb(243, 240, 240);
}

.chat-messages {
    height: 430px;
    overflow: scroll;
    font-size: 16px;
    border: 1px black solid;

}

.file {
    position: absolute;
    right: 0px;
    width: 75%;
    height: 500px;
}

