:root {
    --lightGray: #ADADAD;
}

body {
    background-color: #cbd5de;
}

.message-show {
    overflow: scroll;
    height: 400px;
}

.right-side-columns .sentence,
.Structure {
    overflow: scroll;
    height: 300px;
}

.right-side-columns {
    height: 600px;
    overflow: scroll;
}


/* 指定奇數偶數 */
.sectionColor:nth-child(odd) {
    background: pink;
}

.sectionColor:nth-child(even) {
    background: yellow;
}

/* -----------------按鈕modal區塊---------------------------- */

.sentenceDiv {
    font-size: 16px;
}

.structureDiv {
    font-size: 16px;
}

.card-body {
    overflow: scroll;
}

.Sentence-modal-block {
    background: lightcyan;
}

.structure-modal-block {
    background: lightpink;

}

.m-body {
    /* //按鈕modal的body */
    display: flex;
    height: 500px;

}

hr {
    margin: 0;
    padding: 0px;

}

.sentence-sidebar {}

.structure-sidebar {}

/* ----------------------------------------- */